In [2]:
# If not installed, run this cell. It is needed to access Metrics of Hydrologic Skill
#!pip install HydroErr
#!pip show HydroErr

In [3]:
import pandas as pd
import HydroErr as he
import numpy as np

In [4]:
css_folder = r"Z:\PhD_Datasets&Analysis\Info_Inputs\Streamflow_Stations\Climate_Sensitive_Stations-GRDC"

filtered_css = pd.read_csv(css_folder + "//CSS_FINAL_SELECTION_WITH_ALL.csv") # Save file for possible further analysis
filtered_css

,station_name,station_no,station_id,station_latitude,station_longitude,station_status,river_name,station_elevation,CATCHMENT_SIZE,NAT_STA_ID,GRDCCOUNTRY,Continent,Next_Downstream_Station,CATCHMENT_SIZE2,Priority,k_recession
0,ABOVE BOULEAU CREEK,4215070,1069050,50.212223,-119.538610,Active,WHITEMAN CREEK,630.00,"112,00 km²",08NM174,CA - CANADA,North America,4215103,112.00,751,0.910436
1,"ABOVE CHENEY RESERVOIRE, KS",4125110,1069620,37.863600,-98.014800,Active,NORTH FORK NINNESCAH RIVER,443.80,"2038,30 km²",07144780,US - UNITED STATES,North America,4125801,2038.30,463,0.541509
2,ABOVE FORT MCPHERSON,4208040,1068040,67.248886,-134.883060,Active,PEEL RIVER,NaN,"70600,00 km²",10MC002,CA - CANADA,North America,NaN,70600.00,56,0.942386
3,"ABOVE HAMBURG, IA",4122160,1068596,40.632500,-95.625800,Active,NISHNABOTNA RIVER,272.54,"7267,50 km²",06810000,US - UNITED STATES,North America,4122903,7267.50,254,0.912838
4,ABOVE HIGHWAY NO. 8 (DEMPSTER HIGHWAY),4208070,1068049,68.089165,-133.484160,Active,CARIBOU CREEK,NaN,"625,00 km²",10LC007,CA - CANADA,North America,4208020,625.00,595,0.944144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,"WOODFORDS, CA (WEST FORK)",4118100,1068421,38.769600,-119.833800,Active,CARSON RIVER,1753.97,"169,38 km²",10310000,US - UNITED STATES,North America,NaN,169.38,712,0.900646
784,XAMBIOA,3649418,1071023,-6.409700,-48.542200,Active,RIO ARAGUAIA,118.00,"364500,00 km²",28300000,BR - BRAZIL,South America,3649419,364500.00,19,0.974853
785,XAVANTINA,3649617,1074892,-14.672500,-52.355000,Active,RIO DAS MORTES,266.00,"24950,00 km²",26100000,BR - BRAZIL,South America,3649618,24950.00,119,0.977071
786,"YADKIN COLLEGE, NC",4148321,1069484,35.856700,-80.386900,Active,YADKIN RIVER,194.60,"5905,00 km²",02116500,US - UNITED STATES,North America,4148320,5905.00,284,0.896280
787,ZOZA,6150400,1074154,41.724916,9.075456,Active,U RIZZANESE,354.42,"130,00 km²",Y8814010,FR - FRANCE,Europe,NaN,130.00,738,0.875295

In [5]:
monthly_folder = css_folder + "\\2025-02-13_17-18_Monthly\_DataFrames"
obs_df = pd.read_csv(monthly_folder + "//Joined_Monthly_Sts_DFs.csv", index_col="YYYY-MM") # Observed data
obs_df

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,101.384,67.277,NaN,NaN,NaN,1.935,NaN,NaN,NaN
1958-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,359.689,458.993,NaN,NaN,NaN,1.771,NaN,NaN,NaN
1958-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,353.968,283.710,NaN,NaN,NaN,1.813,NaN,NaN,NaN
1958-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,567.067,422.700,NaN,NaN,NaN,1.650,NaN,NaN,NaN
1958-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,510.806,298.016,NaN,NaN,NaN,5.655,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.768,11.174,17.029,3.885,2.418,1.490,19.073
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.716,16.677,13.024,7.144,1.497,1.316,40.910
2023-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.202,9.018,32.953,6.251,3.855,6.647,38.705
2023-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.392,7.576,10.605,2.982,1.994,11.567,13.254
2023-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.321,6.249,8.012,2.459,1.172,7.997,10.394

In [6]:
wyield_folder = r"Z:\PhD_Datasets&Analysis\Outputs\T&M_WBM\wyield"
sim_df = pd.read_csv(wyield_folder + "\\wyield_zonal_statistics_1958-2023.csv", index_col="station_no") # Simulated data
sim_df

            YEAR  MONTH     DATE    COUNT        MEAN      FLOW_CMS
station_no
3617110     1958      1  1958-01  29626.0  373.946142  85025.836548
3617110     1958      2  1958-02  29555.0  228.121757  57426.484006
3617110     1958      3  1958-03  29509.0  200.029459  45481.608598
3617110     1958      4  1958-04  29483.0  100.426328  23595.537717
3617110     1958      5  1958-05  29476.0   51.678385  11750.349726
...          ...    ...      ...      ...         ...           ...
6870640     2021      8  2021-08    222.0   32.588979     24.164319
6870640     2021      9  2021-09    222.0   39.539370     30.295212
6870640     2021     10  2021-10    222.0   72.810747     53.988256
6870640     2021     11  2021-11    222.0   38.116355     29.204893
6870640     2021     12  2021-12    222.0   46.305534     34.334973

[605184 rows x 6 columns]

In [7]:
sim_df_pivoted = sim_df.reset_index().pivot(index='DATE', columns='station_no', values='FLOW_CMS')
sim_df_pivoted.index.name = "YYYY-MM" # Renaming index to YYYY-MM for consistency with observed data
sim_df_pivoted.columns.name = None # Removing the name of the columns to avoid confusion with the observed data
sim_df_pivoted.columns = sim_df_pivoted.columns.map(str) # Converting column names to string for consistency with observed data
sim_df_pivoted

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,85025.836548,45296.391215,7475.114858,357.070251,29751.576359,19556.319480,6887.902289,101.387420,180.674525,2856.678001,...,411.979809,1329.242360,453.799166,20.692303,15.769974,49.369483,14.346645,6.951415,48.345704,67.670061
1958-02,57426.484006,32276.018326,6381.679663,264.206723,16848.678137,10128.627282,1490.685220,6.452626,11.289982,618.924642,...,105.710205,572.173942,472.878040,8.233052,3.371685,13.063932,2.317236,2.249880,15.817566,13.624118
1958-03,45481.608598,29354.258651,6697.469657,207.844370,18962.175449,11396.632987,415.627545,2.804132,4.853850,173.468515,...,92.658897,329.573656,161.962944,5.057757,3.868499,10.336339,2.061175,1.364703,8.798756,15.363445
1958-04,23595.537717,13785.017608,3405.837479,168.043197,32080.347453,23338.354262,1057.674460,29.436888,53.284665,572.518274,...,355.763503,1047.814658,595.095723,3.446639,5.240689,13.600818,2.450638,1.322733,10.278224,20.611195
1958-05,11750.349726,5391.343343,908.687512,3.101452,17331.970330,12835.481411,3619.120984,176.167691,262.649265,2080.772745,...,63.946465,270.698226,192.409643,9.678617,17.673139,105.415040,11.616663,8.268060,37.144873,125.271113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08,299.516856,159.004372,20.603005,0.058615,15006.301400,12567.690356,11244.229903,416.383936,661.704936,5588.303763,...,15.065403,36.127398,20.850602,0.809483,3.765208,16.629852,0.467045,0.435601,5.669844,24.164319
2021-09,342.573919,164.401940,26.977870,1.089238,17579.662497,14689.277028,2042.644641,27.460451,32.247536,1647.714831,...,6.374061,22.839895,15.489888,0.526068,4.806621,29.052722,1.736292,0.594110,5.176817,30.295212
2021-10,898.196043,474.184420,83.926492,4.435655,16818.108284,13063.293675,1117.166175,19.518873,22.409870,938.107230,...,1.340915,8.003076,3.214520,7.156620,17.404278,51.516658,9.092341,4.729346,19.648169,53.988256
2021-11,5281.420071,1743.469761,426.173753,25.262775,15049.344066,10531.066528,1513.121245,15.103771,18.013422,1174.397495,...,3.660513,17.834084,22.800391,5.058105,8.871719,19.155595,6.131677,1.955564,14.691571,29.204893
2021-12,18733.552435,8274.213532,2554.178412,95.425600,17045.008348,10163.194623,2723.231688,116.039042,185.100465,1798.633697,...,45.377754,300.891416,297.614512,4.090592,5.295652,24.737785,3.385236,2.091609,12.306859,34.334973

In [8]:
sim_sts = sim_df_pivoted.columns.to_list() # List of stations in the simulated data
len(sim_sts)

788

In [9]:
missing_sts = [col for col in obs_df.columns if col not in sim_sts] # List of stations in the observed data that are not in the simulated data
print(len(missing_sts), missing_sts) # These 22 stations are not in the simulated data as in the previous analysis of recession constant (k) they were discarded.

22 ['3649050', '3649110', '3649160', '3649423', '4119441', '4133200', '4143550', '4149670', '4149780', '4149955', '4150451', '4208160', '4208325', '4208810', '4214900', '4231200', '5101260', '5202160', '5204120', '5204121', '5708125', '6458615']

In [31]:
merged_df = obs_df.add_suffix('_obs').join(sim_df_pivoted.add_suffix('_sim'), how='left', on="YYYY-MM") # Merging observed and simulated data on the index (YYYY-MM)
merged_df

,3617110_obs,3617811_obs,3617812_obs,3617814_obs,3618051_obs,3618052_obs,3618500_obs,3618700_obs,3618711_obs,3618720_obs,...,6742701_sim,6744200_sim,6744500_sim,6830101_sim,6830103_sim,6854601_sim,6854713_sim,6855411_sim,6855412_sim,6870640_sim
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,411.979809,1329.242360,453.799166,20.692303,15.769974,49.369483,14.346645,6.951415,48.345704,67.670061
1958-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.710205,572.173942,472.878040,8.233052,3.371685,13.063932,2.317236,2.249880,15.817566,13.624118
1958-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.658897,329.573656,161.962944,5.057757,3.868499,10.336339,2.061175,1.364703,8.798756,15.363445
1958-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355.763503,1047.814658,595.095723,3.446639,5.240689,13.600818,2.450638,1.322733,10.278224,20.611195
1958-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.946465,270.698226,192.409643,9.678617,17.673139,105.415040,11.616663,8.268060,37.144873,125.271113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
warmup_yrs = 5
initial_year = 1958 + warmup_yrs # Initial year for the analysis (1958 + 5 years of warm-up)
filtered_merged_df = merged_df.loc[merged_df.index >= f'{initial_year}-01']
filtered_merged_df

,3617110_obs,3617811_obs,3617812_obs,3617814_obs,3618051_obs,3618052_obs,3618500_obs,3618700_obs,3618711_obs,3618720_obs,...,6742701_sim,6744200_sim,6744500_sim,6830101_sim,6830103_sim,6854601_sim,6854713_sim,6855411_sim,6855412_sim,6870640_sim
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1963-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,214.301902,570.444492,473.847907,3.629200,5.370645,17.210212,2.887251,1.627939,9.367485,18.985485
1963-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,190.805481,520.804410,334.912945,3.748391,5.470184,15.875813,2.916261,1.394720,7.649419,18.774447
1963-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,161.185965,525.113691,395.579476,2.902861,2.695424,8.773748,1.882385,0.922762,5.930826,9.456870
1963-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,494.421626,1101.462347,775.741285,1.992563,3.923704,28.700245,2.273451,3.803341,31.678609,10.360927
1963-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.641441,94.842847,39.273831,14.743270,26.789419,37.673647,14.733980,2.305318,1.634938,84.692828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(he.mae.name)
# Compute the mean absolute error of the simulated and observed data.
# Range: 0 ≤ MAE < inf, data units, smaller is better.
# Notes: The ME measures the absolute difference between the simulated data and the observed data.
# For the mean abolute error, a smaller number indicates a better fit to the original data. 
# Also note that random errors do not cancel. Also referred to as an L1-norm.

print(he.rmse.name)
# Compute the root mean square error between the simulated and observed data.
# Range 0 ≤ RMSE < inf, smaller is better.
# Notes: The standard deviation of the residuals. A lower spread indicates that the points are better concentrated around the line of best fit (linear).
# Random errors do not cancel. This metric will highlights larger errors.

print(he.pearson_r.name)
# Compute the pearson correlation coefficient.
# Range: -1 ≤ R (Pearson) ≤ 1. 1 indicates perfect postive correlation, 0 indicates complete randomness, -1 indicate perfect negative correlation.
# Notes: The pearson r coefficient measures linear correlation. It is sensitive to outliers.

print(he.d1.name) # modified index of agreement (d1)
# Compute the the index of agreement (d1).
# Range: 0 ≤ d < 1, does not indicate bias, larger is better.
# Notes: This metric is a modified approach to the Nash-Sutcliffe Efficiency metric. Compared to the other index of agreement (d) it has a reduced impact of outliers.

print(he.nse.name)
# Compute the Nash-Sutcliffe Efficiency.
# Range: -inf < NSE < 1, does not indicate bias, larger is better.
# Notes: The Nash-Sutcliffe efficiency metric compares prediction values to naive predictions (i.e. average value).
# One major flaw of this metric is that it punishes a higher variance in the observed values (denominator).
# This metric is analogous to the mean absolute error skill score (MAESS) using the mean flow as a benchmark.

print(he.kge_2012.name) # modified Kling-Gupta Efficiency (KGE) metric
# Compute the Kling-Gupta efficiency (2012).
# Range: -inf < KGE (2012) < 1, does not indicate bias, larger is better.
# Notes: The modified version of the KGE (2009). Kling proposed this version to avoid cross-correlation between bias and variability ratios.

Mean Absolute Error
Root Mean Square Error
Pearson Correlation Coefficient
Index of Agreement (d1)
Nash-Sutcliffe Efficiency
Kling-Gupta Efficiency (2012)

In [12]:
# Percent bias (PBIAS) measures the average tendency of the simulated values to be larger or smaller than their observed ones.
# The optimal value of PBIAS is 0.0, with low-magnitude values indicating accurate model simulation. Positive values indicate overestimation bias, whereas negative values indicate model underestimation bias
# Percent bias between sim and obs. The result is given in percentage (%)
def pbias(simulated, observed):
    """Calculates the Percent Bias (PBIAS)."""
    return (np.sum(simulated - observed) / np.sum(observed)) * 100

In [35]:
# Initialize an empty dictionary to store the results
stats_results = {
    "Station": [],
    "MAE": [],
    "RMSE": [],
    "Pearson_R": [],
    "D1": [],
    "NSE": [],
    "KGE_2012": [],
    "PBIAS": []
}

# Loop through each station/column in sim_df_pivoted
for station in sim_df_pivoted.columns:
    obs_col = f"{station}_obs"
    sim_col = f"{station}_sim"
    
    # Check if both observed and simulated columns exist in filtered_merged_df
    if obs_col in filtered_merged_df.columns and sim_col in filtered_merged_df.columns:
        obs_data = filtered_merged_df[obs_col]
        sim_data = filtered_merged_df[sim_col]
        
        # Drop NaN values to ensure valid calculations
        valid_data = filtered_merged_df[[obs_col, sim_col]].dropna()
        obs_data = valid_data[obs_col]
        sim_data = valid_data[sim_col]
        
        # Calculate the statistical indices
        mae = he.mae(sim_data, obs_data)
        rmse = he.rmse(sim_data, obs_data)
        pearson_r = he.pearson_r(sim_data, obs_data)
        d1 = he.d1(sim_data, obs_data)
        nse = he.nse(sim_data, obs_data)
        kge_2012 = he.kge_2012(sim_data, obs_data)
        pbias_value = pbias(sim_data, obs_data)
        
        # Append the results to the dictionary
        stats_results["Station"].append(station)
        stats_results["MAE"].append(mae)
        stats_results["RMSE"].append(rmse)
        stats_results["Pearson_R"].append(pearson_r)
        stats_results["D1"].append(d1)
        stats_results["NSE"].append(nse)
        stats_results["KGE_2012"].append(kge_2012)
        stats_results["PBIAS"].append(pbias_value)

# Convert the dictionary to a DataFrame
stats_df = pd.DataFrame(stats_results).set_index("Station")
stats_df

,MAE,RMSE,Pearson_R,D1,NSE,KGE_2012,PBIAS
Station,,,,,,,
3617110,7606.053741,11233.504913,0.390786,0.440801,-3.294788,-0.086707,18.485310
3617811,3343.033823,5446.133300,0.296982,0.374172,-6.983841,-0.246859,52.320593
3617812,696.811106,1243.227454,0.568678,0.368124,-18.611131,-0.996430,68.183174
3617814,57.582801,79.878367,0.565305,0.306490,-16.560158,-2.534083,3.668131
3618051,6381.192924,8110.748201,0.569773,0.528023,-0.344311,0.399127,-2.345402
...,...,...,...,...,...,...,...
6854601,16.003286,21.982165,0.654664,0.453210,-0.394367,0.514209,29.996834
6854713,2.865157,3.914772,0.645553,0.502448,-0.044403,0.493068,-2.746718
6855411,1.511952,2.328231,0.446858,0.400891,-1.727283,0.253590,25.776038
6855412,8.635373,13.147723,0.416410,0.300712,-6.431323,-0.132617,84.152443
6870640,20.355477,26.101090,0.778084,0.501281,0.193103,0.637096,27.587334

In [36]:
stats_df.describe()

,MAE,RMSE,Pearson_R,D1,NSE,KGE_2012,PBIAS
count,788.000000,788.000000,788.000000,788.000000,788.000000,788.000000,788.000000
mean,688.733796,928.362513,0.597811,0.523887,-3.342863,-0.030680,33.048333
std,4283.000247,5290.410996,0.202377,0.146197,21.744121,1.548483,161.676836
min,0.248498,0.390445,-0.455023,0.048178,-501.059478,-22.097180,-94.846125
25%,5.372024,9.154642,0.525548,0.447244,-1.882680,-0.004946,-18.243277
50%,22.448200,35.690454,0.653190,0.551690,-0.455651,0.256926,6.539984
75%,101.490827,143.098452,0.731409,0.630172,0.139035,0.431796,39.765984
max,79456.270941,95009.326020,0.938421,0.810823,0.797251,0.846201,2309.481502