In [1]:
# If not installed, run this cell. It is needed to access Metrics of Hydrologic Skill
#!pip install HydroErr
#!pip show HydroErr

In [2]:
#!pip install --upgrade numpy

In [3]:
import pandas as pd
import HydroErr as he
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
css_folder = r"Z:\PhD_Datasets&Analysis\Info_Inputs\Streamflow_Stations\Climate_Sensitive_Stations-GRDC"

filtered_css = pd.read_csv(css_folder + "//CSS_FINAL_SELECTION_WITH_ALL.csv") # Read file with all CSS information
filtered_css

,station_name,station_no,station_id,station_latitude,station_longitude,station_status,river_name,station_elevation,CATCHMENT_SIZE,NAT_STA_ID,GRDCCOUNTRY,Continent,Next_Downstream_Station,CATCHMENT_SIZE2,Priority,k_recession,Val_Analysis
0,ABOVE BOULEAU CREEK,4215070,1069050,50.212223,-119.538610,Active,WHITEMAN CREEK,630.00,"112,00 km²",08NM174,CA - CANADA,North America,4215103,112.00,751,0.910436,Yes
1,"ABOVE CHENEY RESERVOIRE, KS",4125110,1069620,37.863600,-98.014800,Active,NORTH FORK NINNESCAH RIVER,443.80,"2038,30 km²",07144780,US - UNITED STATES,North America,4125801,2038.30,463,0.541509,No
2,ABOVE FORT MCPHERSON,4208040,1068040,67.248886,-134.883060,Active,PEEL RIVER,NaN,"70600,00 km²",10MC002,CA - CANADA,North America,NaN,70600.00,56,0.942386,No
3,"ABOVE HAMBURG, IA",4122160,1068596,40.632500,-95.625800,Active,NISHNABOTNA RIVER,272.54,"7267,50 km²",06810000,US - UNITED STATES,North America,4122903,7267.50,254,0.912838,Yes
4,ABOVE HIGHWAY NO. 8 (DEMPSTER HIGHWAY),4208070,1068049,68.089165,-133.484160,Active,CARIBOU CREEK,NaN,"625,00 km²",10LC007,CA - CANADA,North America,4208020,625.00,595,0.944144,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,"WOODFORDS, CA (WEST FORK)",4118100,1068421,38.769600,-119.833800,Active,CARSON RIVER,1753.97,"169,38 km²",10310000,US - UNITED STATES,North America,NaN,169.38,712,0.900646,Yes
784,XAMBIOA,3649418,1071023,-6.409700,-48.542200,Active,RIO ARAGUAIA,118.00,"364500,00 km²",28300000,BR - BRAZIL,South America,3649419,364500.00,19,0.974853,No
785,XAVANTINA,3649617,1074892,-14.672500,-52.355000,Active,RIO DAS MORTES,266.00,"24950,00 km²",26100000,BR - BRAZIL,South America,3649618,24950.00,119,0.977071,No
786,"YADKIN COLLEGE, NC",4148321,1069484,35.856700,-80.386900,Active,YADKIN RIVER,194.60,"5905,00 km²",02116500,US - UNITED STATES,North America,4148320,5905.00,284,0.896280,Yes
787,ZOZA,6150400,1074154,41.724916,9.075456,Active,U RIZZANESE,354.42,"130,00 km²",Y8814010,FR - FRANCE,Europe,NaN,130.00,738,0.875295,No

In [5]:
monthly_folder = css_folder + "\\2025-02-13_17-18_Monthly\_DataFrames"
obs_df = pd.read_csv(monthly_folder + "//Joined_Monthly_Sts_DFs.csv", index_col="YYYY-MM") # Observed data
obs_df

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,101.384,67.277,NaN,NaN,NaN,1.935,NaN,NaN,NaN
1958-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,359.689,458.993,NaN,NaN,NaN,1.771,NaN,NaN,NaN
1958-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,353.968,283.710,NaN,NaN,NaN,1.813,NaN,NaN,NaN
1958-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,567.067,422.700,NaN,NaN,NaN,1.650,NaN,NaN,NaN
1958-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,510.806,298.016,NaN,NaN,NaN,5.655,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.768,11.174,17.029,3.885,2.418,1.490,19.073
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.716,16.677,13.024,7.144,1.497,1.316,40.910
2023-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.202,9.018,32.953,6.251,3.855,6.647,38.705
2023-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.392,7.576,10.605,2.982,1.994,11.567,13.254
2023-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.321,6.249,8.012,2.459,1.172,7.997,10.394

In [6]:
q_folder = r"Z:\PhD_Datasets&Analysis\Info_Inputs\TerraClimate\GeoTIFF"
sim_df = pd.read_csv(q_folder + "\\q_zonal_statistics_1958-2023.csv", index_col="station_no") # Simulated data
sim_df

,YEAR,MONTH,DATE,COUNT,MEAN,FLOW_CMS,FLOW_CMS2
station_no,,,,,,,
3617110,1958,1,1958-01,29790.0,133.782209,30418.669786,30748.283692
3617110,1958,2,1958-02,29790.0,94.737076,23848.743141,24107.165926
3617110,1958,3,1958-03,29790.0,108.573941,24686.951172,24954.456703
3617110,1958,4,1958-04,29790.0,46.757264,10985.792395,11104.833430
3617110,1958,5,1958-05,29790.0,17.740483,4033.734461,4077.443636
...,...,...,...,...,...,...,...
6870640,2023,8,2023-08,228.0,4.524123,3.354580,3.285629
6870640,2023,9,2023-09,228.0,69.341228,53.129506,52.037461
6870640,2023,10,2023-10,228.0,0.139035,0.103093,0.100974
6870640,2023,11,2023-11,228.0,0.000000,0.000000,0.000000
6870640,2023,12,2023-12,228.0,0.000000,0.000000,0.000000

In [7]:
sim_df_pivoted = sim_df.reset_index().pivot(index='DATE', columns='station_no', values='FLOW_CMS') # "FLOW_CMS" was calculated using the default area ("CATCHMENT_SIZE2") from GRDC information
sim_df_pivoted.index.name = "YYYY-MM" # Renaming index to YYYY-MM for consistency with observed data
sim_df_pivoted.columns.name = None # Removing the name of the columns to avoid confusion with the observed data
sim_df_pivoted.columns = sim_df_pivoted.columns.map(str) # Converting column names to string for consistency with observed data
sim_df_pivoted

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,30418.669786,14205.516959,2524.722925,166.793399,8279.298515,5134.970537,131.593978,4.387927,6.715142,68.256405,...,0.115870,0.240681,1.549751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-02,23848.743141,12550.542394,3199.364015,208.438188,7153.133877,4033.834597,133.319970,3.714735,5.762126,59.988037,...,19.204289,259.001156,395.390854,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-03,24686.951172,16763.396446,4620.226302,191.188325,14410.476689,8690.472094,125.203116,2.712254,4.644273,55.716010,...,1.767420,102.614373,86.567401,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-04,10985.792395,5891.710325,2065.468802,163.196881,29951.074120,22143.374669,809.539868,22.703979,37.964362,442.792571,...,307.769232,918.328497,552.972703,0.000000,0.000000,1.597581,0.000000,0.405494,6.454026,0.000000
1958-05,4033.734461,424.555215,41.172485,1.756029,16325.330608,12294.834127,2916.252046,173.459528,250.063498,1747.972709,...,55.094371,234.100082,179.832215,7.982829,16.488467,101.108316,10.642615,7.877449,36.359650,118.639944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,235.754361,96.150206,10.059229,0.381905,4033.022803,4058.345291,564.371588,32.236069,36.345724,337.360149,...,8.954571,26.392320,17.215781,0.464302,13.915573,3.238820,5.209120,0.398248,1.400494,3.354580
2023-09,390.187198,205.320395,38.750888,1.934472,2675.232493,2386.618536,87.791320,3.870573,5.525455,44.695534,...,6.884340,15.059579,9.577724,7.073001,23.551538,41.021468,10.806283,3.224264,6.407645,53.129506
2023-10,457.272435,221.639239,38.725726,2.432442,510.111526,470.343259,110.677070,4.901541,7.035489,58.348768,...,5.237116,13.689283,15.596088,0.172034,0.000000,3.742561,0.000000,1.888954,27.464460,0.103093
2023-11,987.453078,434.275623,72.915453,4.000236,6574.563266,5049.870350,91.321420,2.939574,3.952693,47.029208,...,10.666672,69.734841,247.785903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-12,2972.514306,704.277292,134.301787,7.776911,15454.181270,10190.986145,125.149590,5.007537,7.047635,61.134528,...,3.976427,229.495962,362.968252,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [8]:
sim_sts = sim_df_pivoted.columns.to_list() # List of stations in the simulated data
len(sim_sts)

788

In [9]:
missing_sts = [col for col in obs_df.columns if col not in sim_sts] # List of stations in the observed data that are not in the simulated data
print(len(missing_sts), missing_sts) # These 22 stations are not in the simulated data as in the previous analysis of recession constant (k) they were discarded.

22 ['3649050', '3649110', '3649160', '3649423', '4119441', '4133200', '4143550', '4149670', '4149780', '4149955', '4150451', '4208160', '4208325', '4208810', '4214900', '4231200', '5101260', '5202160', '5204120', '5204121', '5708125', '6458615']

In [10]:
merged_df = obs_df.add_suffix('_obs').join(sim_df_pivoted.add_suffix('_sim'), how='left', on="YYYY-MM") # Merging observed and simulated data on the index (YYYY-MM)
merged_df

,3617110_obs,3617811_obs,3617812_obs,3617814_obs,3618051_obs,3618052_obs,3618500_obs,3618700_obs,3618711_obs,3618720_obs,...,6742701_sim,6744200_sim,6744500_sim,6830101_sim,6830103_sim,6854601_sim,6854713_sim,6855411_sim,6855412_sim,6870640_sim
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.115870,0.240681,1.549751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.204289,259.001156,395.390854,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767420,102.614373,86.567401,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,307.769232,918.328497,552.972703,0.000000,0.000000,1.597581,0.000000,0.405494,6.454026,0.000000
1958-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.094371,234.100082,179.832215,7.982829,16.488467,101.108316,10.642615,7.877449,36.359650,118.639944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.954571,26.392320,17.215781,0.464302,13.915573,3.238820,5.209120,0.398248,1.400494,3.354580
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.884340,15.059579,9.577724,7.073001,23.551538,41.021468,10.806283,3.224264,6.407645,53.129506
2023-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.237116,13.689283,15.596088,0.172034,0.000000,3.742561,0.000000,1.888954,27.464460,0.103093
2023-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.666672,69.734841,247.785903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.976427,229.495962,362.968252,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [11]:
warmup_yrs = 6 # Number of years to be discarded for the warm-up period
initial_year = 1958 + warmup_yrs # Initial year for the analysis

In [12]:
filtered_merged_df = merged_df.loc[merged_df.index >= f'{initial_year}-01']
filtered_merged_df

,3617110_obs,3617811_obs,3617812_obs,3617814_obs,3618051_obs,3618052_obs,3618500_obs,3618700_obs,3618711_obs,3618720_obs,...,6742701_sim,6744200_sim,6744500_sim,6830101_sim,6830103_sim,6854601_sim,6854713_sim,6855411_sim,6855412_sim,6870640_sim
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1964-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1964-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.001169,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1964-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.081276,66.517136,116.817280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1964-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,164.519010,637.072229,654.148864,0.000000,0.000000,10.234231,0.000000,2.030285,27.376312,0.000000
1964-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.447455,116.517534,60.479931,19.608642,37.246482,106.976733,20.600057,6.298848,4.367820,143.450830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.954571,26.392320,17.215781,0.464302,13.915573,3.238820,5.209120,0.398248,1.400494,3.354580
2023-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.884340,15.059579,9.577724,7.073001,23.551538,41.021468,10.806283,3.224264,6.407645,53.129506
2023-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.237116,13.689283,15.596088,0.172034,0.000000,3.742561,0.000000,1.888954,27.464460,0.103093
2023-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.666672,69.734841,247.785903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.976427,229.495962,362.968252,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
print(he.mae.name)
# Compute the mean absolute error of the simulated and observed data.
# Range: 0 ≤ MAE < inf, data units, smaller is better.
# Notes: The ME measures the absolute difference between the simulated data and the observed data.
# For the mean abolute error, a smaller number indicates a better fit to the original data. 
# Also note that random errors do not cancel. Also referred to as an L1-norm.

print(he.rmse.name)
# Compute the root mean square error between the simulated and observed data.
# Range 0 ≤ RMSE < inf, smaller is better.
# Notes: The standard deviation of the residuals. A lower spread indicates that the points are better concentrated around the line of best fit (linear).
# Random errors do not cancel. This metric will highlights larger errors.

print(he.pearson_r.name)
# Compute the pearson correlation coefficient.
# Range: -1 ≤ R (Pearson) ≤ 1. 1 indicates perfect postive correlation, 0 indicates complete randomness, -1 indicate perfect negative correlation.
# Notes: The pearson r coefficient measures linear correlation. It is sensitive to outliers.

print(he.d1.name) # modified index of agreement (d1)
# Compute the the index of agreement (d1).
# Range: 0 ≤ d < 1, does not indicate bias, larger is better.
# Notes: This metric is a modified approach to the Nash-Sutcliffe Efficiency metric. Compared to the other index of agreement (d) it has a reduced impact of outliers.

print(he.nse.name)
# Compute the Nash-Sutcliffe Efficiency.
# Range: -inf < NSE < 1, does not indicate bias, larger is better.
# Notes: The Nash-Sutcliffe efficiency metric compares prediction values to naive predictions (i.e. average value).
# One major flaw of this metric is that it punishes a higher variance in the observed values (denominator).
# This metric is analogous to the mean absolute error skill score (MAESS) using the mean flow as a benchmark.

print(he.kge_2012.name) # modified Kling-Gupta Efficiency (KGE) metric
# Compute the Kling-Gupta efficiency (2012).
# Range: -inf < KGE (2012) < 1, does not indicate bias, larger is better.
# Notes: The modified version of the KGE (2009). Kling proposed this version to avoid cross-correlation between bias and variability ratios.

Mean Absolute Error
Root Mean Square Error
Pearson Correlation Coefficient
Index of Agreement (d1)
Nash-Sutcliffe Efficiency
Kling-Gupta Efficiency (2012)

In [14]:
# Percent bias (PBIAS) measures the average tendency of the simulated values to be larger or smaller than their observed ones.
# The optimal value of PBIAS is 0.0, with low-magnitude values indicating accurate model simulation. Positive values indicate overestimation bias, whereas negative values indicate model underestimation bias
# Percent bias between sim and obs. The result is given in percentage (%)
def pbias(simulated, observed):
    """Calculates the Percent Bias (PBIAS)."""
    return (np.sum(simulated - observed) / np.sum(observed)) * 100

In [15]:
def calculate_stats(fmd, sdp):
    """
    Calculate statistical indices for each station and return a DataFrame with the results.

    Parameters:
    - fmd (pd.DataFrame): Merged DataFrame containing observed and simulated data.
    - sdp (pd.DataFrame): Pivoted DataFrame containing simulated data.

    Returns:
    - pd.DataFrame: DataFrame containing statistical indices for each station.
    """
    # Initialize an empty dictionary to store the results
    stats_results = {
        "Station": [],
        "MAE": [],
        "RMSE": [],
        "Pearson_R": [],
        "D1": [],
        "NSE": [],
        "KGE_2012": [],
        "PBIAS": []
    }

    # Loop through each station/column in sdp
    for station in sdp.columns:
        obs_col = f"{station}_obs"
        sim_col = f"{station}_sim"

        # Check if both observed and simulated columns exist in fmd
        if obs_col in fmd.columns and sim_col in fmd.columns:

            # Drop NaN values to ensure valid calculations
            valid_data = fmd[[obs_col, sim_col]].dropna()
            obs_data = valid_data[obs_col]
            sim_data = valid_data[sim_col]

            # Calculate the statistical indices
            mae = he.mae(sim_data, obs_data)
            rmse = he.rmse(sim_data, obs_data)
            pearson_r = he.pearson_r(sim_data, obs_data)
            d1 = he.d1(sim_data, obs_data)
            nse = he.nse(sim_data, obs_data)
            kge_2012 = he.kge_2012(sim_data, obs_data)
            pbias_value = pbias(sim_data, obs_data)

            # Append the results to the dictionary
            stats_results["Station"].append(station)
            stats_results["MAE"].append(mae)
            stats_results["RMSE"].append(rmse)
            stats_results["Pearson_R"].append(pearson_r)
            stats_results["D1"].append(d1)
            stats_results["NSE"].append(nse)
            stats_results["KGE_2012"].append(kge_2012)
            stats_results["PBIAS"].append(pbias_value)

    # Convert the dictionary to a DataFrame
    stats_df = pd.DataFrame(stats_results).set_index("Station")
    return stats_df

# Example usage
stats_df = calculate_stats(filtered_merged_df, sim_df_pivoted)
stats_df

,MAE,RMSE,Pearson_R,D1,NSE,KGE_2012,PBIAS
Station,,,,,,,
3617110,7487.239368,10962.638868,0.384674,0.443687,-3.090170,-0.116889,13.073623
3617811,3252.751363,5230.294910,0.285006,0.380401,-6.363558,-0.267463,41.213485
3617812,686.363878,1211.263973,0.561968,0.370825,-17.615686,-1.046034,60.487858
3617814,56.493822,77.321361,0.568994,0.310522,-15.453907,-2.626064,-1.291476
3618051,6382.781670,8112.479360,0.569231,0.527863,-0.344885,0.398335,-2.433408
...,...,...,...,...,...,...,...
6854601,13.928742,20.070682,0.754435,0.591534,-0.146063,-0.129825,-24.565453
6854713,3.061158,3.974750,0.768367,0.584131,-0.059329,-0.737460,-47.713826
6855411,1.563997,2.245531,0.507312,0.465658,-1.519933,-0.671464,-30.407011
6855412,7.150258,11.716498,0.451408,0.409695,-4.861654,-0.943804,-5.695256
6870640,16.458827,22.748604,0.869963,0.659391,0.382912,-0.062671,-28.923813

**Using the default area ("CATCHMENT_SIZE2") from GRDC information and all monthly flow series**

In [16]:
stats_df.describe().map(lambda x: f"{x:.2f}")

            MAE      RMSE Pearson_R      D1      NSE KGE_2012    PBIAS
count    788.00    788.00    788.00  788.00   788.00   788.00   788.00
mean     668.79    896.99      0.63    0.56    -1.96    -0.23    -5.26
std     4232.11   5220.07      0.16    0.12     9.82     1.29   121.68
min        0.21      0.33     -0.24    0.07  -211.11   -18.40   -94.88
25%        4.84      8.21      0.54    0.50    -1.35    -0.35   -41.11
50%       21.02     32.46      0.65    0.57    -0.25     0.04   -23.73
75%       84.84    131.20      0.74    0.63     0.15     0.30    -0.25
max    78433.43  93898.80      0.95    0.87     0.88     0.85  1937.45